<!DOCTYPE html>
<html>
<head>
<title>Users_list</title>
<script>

    var ws;
    ws = new WebSocket("ws://localhost:8888/ws");
 
    ws.onopen = function() {
      alert();
    }

    ws.onmessage = function(e) {
    }

    function sending() {
      ws.send();
    }

    function getUserData() {
      ws.send('getusr_');
    }

    function saveUserData() {
      ws.send('editusr_');
    }

    ws.onclose = function() { 
      alert("Connection is closed"); 
    }

</script>
</head>
<body>
<div> 

    <form action="/edit_user">
    <h2>Edit profile</h2>
    <br>Name: <input id="username" type="text" name="name" >
    <br>Password: <input id="pwd" type="password" name="password">
    <br><input onclick="saveUserData();" type="button" value="Save">
    </form>
</div>      
</body>
</html>



