<!DOCTYPE html>
<html>
<head>
<title>Project</title>
<script>
    var ws;
    ws = new WebSocket("ws://localhost:8888/ws");
 
    ws.onopen = function() {
      alert("Connection is opened");
    }

    ws.onmessage = function(e) {
      if (e.data != "ok") {
        alert(e.data);
      } else {.
      document.location.href = "/profile";
      }
    }

    function sendUserData() {
      ws.send('usrdata_' + document.getElementById('username').value + '*****' + document.getElementById('pwd').value);
    }

    ws.onclose = function() { 
      alert("Connection is closed"); 
    }

</script>
</head>
<body>
<div> 
    <form action="/ws">
    <br>Name: <input id="username" maxlength="20" type="text" name="name">
    <br>Password: <input id="pwd" maxlength="20" type="password" name="password">
    <br><input onclick="sendUserData();" type="button" value="Sign in">
    </form>
</div>      
</body>
</html>

</script>


#сделать на главной дивы: в одном будут все юзеры, в другом информация о моем текущем юзере, в третьем поля для редактирования текущего пользователя.